/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: #1a1a1a;
}
/* Global styles end */

/* Header */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  padding: 1rem 2rem;
  color: #003087;
}

.main-logo {
  font-size: 1.3rem;
  font-weight: bold;
}
nav {
  display: flex;
}
nav ul {
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #003087;
  font-weight: 500;
}

.book-btn {
  background-color: #003087;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
  /* Header end; */
}

/* Landing page */

.book-btn:hover {
  background-color: #636363;
}

.welcome-section {
  text-align: center;
  padding: 3rem 2rem 8rem 2rem;
  background: #ecf0f1;
}

.welcome-section h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.welcome-section-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.image-left,
.image-right {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.amenities-section {
  padding: 5rem 2rem 8rem 2rem;
  background-color: #fff;
  text-align: left;
}

.amenities-section h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.amenities-section p {
  font-size: 0.9rem;
}

.amenities-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.footer-section {
  text-align: center;
  background-color: #003087;
  color: #fff;
  padding: 10rem 2rem;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-section p {
  margin-bottom: 2rem;
  font-size: 0.9rem;
}
.footer-btn {
  background-color: #fff;
  color: #003087;
}
/* Landing page end */

/* Booking form start */
.booking-form-container {
  text-align: left;
  padding: 2rem;
  background: #ecf0f1;
}

.booking-form-container h2 {
  text-align: center;
  font-size: 1.5rem;
}

.booking-form-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.booking-form-items label {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.booking-form-items input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rooms-section {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
}

.rooms-section h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.rooms-section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.available-room-container {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.room-image {
  background-color: #ddd;
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.room-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 3rem 0;
}

.room-info h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.room-info-price {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.room-info-price span {
  color: #003087;
}
.select-room-btn {
  display: inline-block;
  background-color: #003087;
  font-size: 0.8rem;
  width: 100%;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.select-room-btn:hover {
  background-color: #636363;
}
/* Booking form end */

/* Contact page */
.contact-section-container {
  background-color: #f0f4f8;
}
.contact-section-container img {
  display: block;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
  opacity: 0.9;
}
.contact-section-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-form {
  flex-grow: 1;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.contact-form h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.contact-form label {
  display: block;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 0.9rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.send-btn {
  margin-top: 1.5rem;
  border: none;
  width: 100%;
}

.contact-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1.5rem;
}

.info-box {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);
}

.info-box h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.info-box p {
  font-size: 0.9rem;
}

.info-box tel,
.info-box email,
.info-box address {
  display: block;
  margin-top: 0.5rem;
  font-style: normal;
  color: #555;
}

.map-section-container h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
}

.map-image-container img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Contact page end */
